<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

               <li><%= link_to 'Home', shops_index_path%></li>
                    <li ><%= link_to 'Products', product_shops_path%></li>
                     <% if user_signed_in? %>
                    <li><%= link_to 'Cart', cart_shops_path%></li>
                    <%end%>
                    <li><%=link_to 'Category',  categories_path %></li>
                    
                        </ul>
            </div>  
        </div>
    </div>
</div>
<div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shop</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
   <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Products</h2>
                        <div class="thubmnail-recent">
                        <%Product.last(5).each do |f|%>
                            <%= link_to image_tag(f.avatar_file_name),single_product_shops_path(:product_id => f.id),class:"recent-thumb"%> 
                            <h2><h2><%=link_to(f.name,single_product_shops_path(product_id: f.id))%></h2></h2>
                            <div class="product-sidebar-price">
                                <ins>$<%= f.price%></ins> 
                            </div>  
                            <%end%>                           
                        </div>
                        
                        
                        
                    </div>
                    
                    
                </div>
                
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <%=image_tag(@pro.avatar_file_name)%>
                                    </div>
                                </div>
                            </div>
   
                            
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name"><%=@pro.name%></h2>
                                    <div class="product-inner-price">
                                        <ins>$<%=@pro.price%></ins> 
                                    </div>    
                                    
                                    <form action="" class="cart">
                                       
                                        <%= link_to "Add to Cart",ajax_add_shops_path(:product_id => @pro.id),class: "add_to_cart_button", :remote => true  %>
                                    </form>   
                                    
                                    <div class="product-inner-category">
                                        <p>Category:<b><%=Category.find_by_id(@pro.category_id).name%></b></p>
                                    </div> 
                                    
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>  
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique, diam in consequat iaculis, est purus iaculis mauris, imperdiet facilisis ante ligula at nulla. Quisque volutpat nulla risus, id maximus ex aliquet ut. Suspendisse potenti. Nulla varius lectus id turpis dignissim porta. Quisque magna arcu, blandit quis felis vehicula, feugiat gravida diam. Nullam nec turpis ligula. Aliquam quis blandit elit, ac sodales nisl. Aliquam eget dolor eget elit malesuada aliquet. In varius lorem lorem, semper bibendum lectus lobortis ac.</p>

                                                <p>Mauris placerat vitae lorem gravida viverra. Mauris in fringilla ex. Nulla facilisi. Etiam scelerisque tincidunt quam facilisis lobortis. In malesuada pulvinar neque a consectetur. Nunc aliquam gravida purus, non malesuada sem accumsan in. Morbi vel sodales libero.</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>
                                               
                                                <div class="submit-review">
                                                 
                                                    <!-- <p><label for="name">Name</label> <input name="name" type="text"></p>
                                                    <p><label for="email">Email</label> <input name="email" type="email"></p> -->
                                                    <div class="rating-chooser">
                                                        <p>Your rating</p>

                                                        <div class="rating-wrap-post">
                                                        
                                                        <%#= f.hidden_field :rateable_id , value: @pro.id %>
                                                        <%#= f.hidden_field :rateable_type , value: @pro.name %>
                                                        Quality:<%= rating_for @pro, "quality" %>
                                                        Price:<%= rating_for @pro, "price" %>
                                                        </div>
                                                    </div>
                                                    <p><label for="review">Please give the review, it will automatically save</label>
                                                    <%= form_for Review.new do |f|%>
                                                    <%= f.hidden_field :product_id, value: @pro.id %>
                                                    <%= f.hidden_field :user_id , value: current_user.id %>
                                                     <%=f.text_area :views_about_product %>
                                                     <%=f.submit%>
                                                     <%end%>
                                                 
                                                    </p>
                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="related-products-wrapper">
                            <h2 class="related-products-title">Related Products</h2>
                            <%#= link_to "Add to Cart",ajax_add_shops_path(:product_id => @pro.id),class: "add_to_cart_link", :remote => true  %>
                            
                            <div class="related-products-carousel">
                            <%@product.each do |f|%>
                                <div class="single-product">
                                    <div class="product-f-image">
                                    	
                                        <%=  image_tag(f.avatar_file_name,size:"450")%> 
                                        <div class="product-hover">
                                           
                                            <a href="<%=single_product_shops_path(product_id: f.id)%>" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                        
                                    </div> 
                                </div>
                                <%end%>
                                
                                
                                                                
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
