<table border= "1" style="width:50%">
<thead>
<tr>
<th>Name:</th>
<th> actions </th>
</tr>
</thead>
<tbody>
<% @roles.each do |p| %>
<tr>
<td><%= p.name %></td>
<td><%#= link_to 'Show', admin_role_path(p)%> |
<%= link_to 'Edit', edit_admin_role_path(p) %>|
<%= link_to 'Destroy', admin_role_path(p), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%=link_to 'New Role', new_admin_role_path %><br><br>
<%= link_to 'Dashboard',admin_dashboard_index_path%>
