<h1>Listing Users</h1>

Name : <%= @user.first_name %><br>
Last Name : <%= @user.last_name %><br>
Gender : <%= @user.gender %><br>
Email : <%= @user.email %><br>


<%= link_to 'back', admin_users_path %> 

